.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../imgs/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;

  position: relative;
}

.header-bg {
  background: rgb(4, 4, 4);
  background: linear-gradient(
    180deg,
    rgba(4, 4, 4, 1) 0%,
    rgba(21, 21, 21, 1) 100%
  );
}

.search-bar {
  display: flex;
  align-items: center;

  background-color: #f8f8f8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
  padding: 10px;

  position: absolute;
  bottom: -24.5px;
}

.search-bar button,
.search-bar input {
  border: none;
  height: 35px;
}

.search-bar button:focus,
.search-bar input:focus {
  outline: none;
}

.search-bar .search-icon {
  color: #ff6600;
  font-size: 20px;
  margin: 0px 0px 0px 5px;
}

.search-bar input {
  background-color: #f8f8f8;
  margin: 0px 10px;
  padding: 5px 10px 5px 0px;
  width: 250px;
}
.search-bar button {
  background-color: #ff8635;
  border-radius: 25px;
  color: #f8f8f8;
  cursor: pointer;
  width: 75px;
}

.search-bar button:hover {
  background-color: #ff6600;
}

/* ******* */

.movies-results {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 25px;
  padding: 75px 25px;
}

.no-movies {
  margin: 75px 0px 0px;
  text-align: center;
}
