.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card {
  height: 100vh;
}

/* *** */

.user-card-bg {
  background: linear-gradient(
    -45deg,
    #ffa263,
    #ff8635,
    #ff6600,
    #ff8635,
    #ffa263
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 15px;

  display: flex;

  height: 400px;
  width: 700px;

  position: relative;
}

.user-change-info-fake,
.user-change-info {
  flex-direction: column;

  height: 100%;
  width: 100%;
}

/* *** */

.user-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #f9f9f9;
  border-radius: 15px;

  transition: all 0.8s;
  height: 475px;
  width: 300px;

  position: absolute;
  left: 50px;
}

.user-card-info img {
  border-radius: 50%;
  filter: drop-shadow(3px 0 0 #f9f9f9) drop-shadow(0 3px 0 #f9f9f9)
    drop-shadow(-3px 0 0 #f9f9f9) drop-shadow(0 -3px 0 #f9f9f9);

  top: -50px;
  width: 100px;
  position: absolute;
}

/* *** */

.user-change-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.8s;
}

.form-change {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-change-info button {
  background-color: transparent;
  border: none;

  font-size: 22px;
}

.user-change-info input {
  background-color: #f9f9f9;
  border: 1px solid #d0d0d0;
  border-radius: 25px;

  color: #808080;
  font-family: "Poppins", sans-serif;

  margin-bottom: 15px;
  padding: 7px 15px;
}
.user-change-info input:focus {
  outline: 1px solid #ff6600;
}
